:root {
    --primary-color: #9AD0C2;
    --second-color: #ECF4D6;
    --third-color: rgba(34, 129, 161, 0.138);
    /* --four-color: #2AF5FF; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.index {
    background-image: url(../images/imageCel.jpg);
    background-size: cover;
    background-position: center;   
}

.card{
    border-radius: 25px;
    margin: 1em auto;
    width: 80%;
    max-width: 600px;
    background-image: linear-gradient(#5961577e, #59615798), url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    padding: 1em 0;
    border: whitesmoke 1px solid;
    box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.48);
}

.card_image{
    margin: 0 auto 1em ;
    width: 120px;
    height: 120px;
    background-image: url(../images/profile.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    /* border: rgb(14, 13, 13) 2px solid; */
    box-shadow: 5px 5px 10px -5px black; 
}

.card_tittle {
    margin: 0 auto 1em;
    width: 90%;
    color: whitesmoke;
    text-align: center;
    font-family: 'Lobster', sans-serif;;
    font-size: 2rem;
    letter-spacing: 2px;
    overflow: hidden;
}

.card_paragraph {
    margin: 0 auto 1em;
    width: 90%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.463), rgba(0, 0, 0, 0.463));
    border-radius: 12px;
    padding: 0 .5em;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    overflow: hidden;
}

.card_cta {
    display: block;
    margin: 0 auto;
    width: 45%;
    text-align: center;
    padding: .8em 1.5em;
    background-color: #DB222A;
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    border-radius: 50px;
    border: whitesmoke 1px solid;
}

.card_cta:hover {
    background-color: #0B4F6C;
}


/*_______________ Conóceme ___________________*/

/*TITULOS Y SUBTITULOS DE SECCIONES*/
.section_title {
    margin: 0 auto;
    width: 70%;
    max-width: 280px;
}

.title_img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.section_subtitle {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: .5em;
}


/*header*/

.conoceme {
    font-family: 'Archivo', sans-serif;
}

.header {   
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 4em;
    border-bottom: black 1px solid;
    box-shadow: 0 5px 10px -5px black;
}

.nav {
    /* border: black 2px solid; */
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    width: 200px;
    object-fit: cover;
    object-position: center;
}

.nav_menu {
    justify-self: flex-end;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    border-radius: 10px;
}

.nav_menu--active {
    position: fixed;
    top: 1em;
    right: 1em;
}

.nav_list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 60px 0;
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 2.5rem;
    transform: translate(-100%);
    transition: .3s;
}

.nav_list--show {
    transform: translate(0);
}

.nav_item {
    text-align: center; 
}

.nav_link {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 700;
}



/*about*/

.main_about {
    background-color: var(--third-color);
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.container_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin-bottom: 1em;
}

.about_img {
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 280px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
}

.about_paragraph {
    padding: 0 2em;
    text-align: center;
    line-height: 1.2;
}

/* attributes */

.attribute {
    margin: 2em auto;
    background-color: rgba(75, 72, 72, 0.103);
    padding: 1em 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}


.container_attributes {
    margin: 0 auto;
    width: 90%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

.container_attribute {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    height: 200px;
    max-height: 200px;
    box-shadow: 0px 0px 10px -3px black;
    border-top: black 5px solid;
}

.attribute_title {
    margin-top: .3em;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.attribute_list {
    margin-left: 2em;
    margin-top: 1em;
}

.attribute_item {
    font-size: 1rem;
    margin-bottom: .5em;
}

.container_central {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}



/* proyects */

.main_proyect {
    margin: 2em auto;
    background-color: var(--third-color);
    padding: 1em;
    width: 100%;
}

/*revista*/

.slider {
    background-color: transparent;
    width: 90%;
    margin: 0 auto;
}

.slider_arrow {
    display: none;
}

.slider_container {
    height: auto;
    margin: 0 auto;
    width: 100%;
    max-width: 310px;
    position: relative;
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -2px black;
    z-index: 0;
}

.slider_body {
    aspect-ratio: 10/13;
    width: 100%;
    height: 420px;
    position: sticky;
    scroll-snap-align: center;
    left: 0;
} 

.magazine_page {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Flayer*/

.flayer {
    width: 90%;
    margin: 2em auto 4em;
}

.flayer_container {
    padding: .5em;
    width: 100%;
    height: 350px;
    overflow-y: scroll;
    background-color: rgb(34, 129, 161);
    border-radius: 12px;
    box-shadow: 0px 0px 5px 2px black;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    grid-template-areas: 
    "img1 img1 img3 img3"
    "img4 img4 img2 img2"
    "img4 img4 img2 img2"
    "img5 img5 img7 img7"
    "img6 img6 img7 img7";
    gap: .8em;
}

.flayer_image {
    width: auto;
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.flayer_img {
    margin: 5px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 12px;
}

.flayer_image--1 {
    grid-area: img1;
}

.flayer_image--2 {
    grid-area: img2;
}

.flayer_image--3 {
    grid-area: img3;
}

.flayer_image--4 {
    grid-area: img4;
}

.flayer_image--5 {
    grid-area: img5;
}

.flayer_image--6 {
    grid-area: img6;
}

.flayer_image--7 {
    grid-area: img7;
}


/*Illustrations*/
.illustration {
    width: 90%;
    margin: 2em auto 4em;
}

.illustration_container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.section_subtitle--illustration {
    align-self: flex-start;
}

.illustration_image {
    display: flex;
    width: 100%;
}

.illustration_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Footer*/

.footer {
    background-color: rgb(34, 129, 161);
    padding: 1em 0 0;
}

.footer_container {
    width: 90%;
    margin: 0 auto;
}

.contact_container {
    width: 50%;
    max-width: 200px;
    margin: 0 auto;
}

.contact_title{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

.network_container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.network_img {
    width: 35px;
}


.logo_footer_image{
    width: 90%;
    max-width: 245px;
    margin: 0 auto;
}

.logo_footer_img{
    width: 80%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.nav_container--footer {
    display: none;
}

.rights {
    display: block;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    color: white;
    padding: 1em 0 .5em;
}










































@media (min-width: 768px) {

    .card{
        margin: 1em auto;
        max-width: 600px;
        padding: 1em 0;
        border: whitesmoke 1px solid;
        box-shadow: 10px 10px 20px -10px rgba(255, 255, 255, 0.48);
    }

    .card_image {
        margin: 0 auto 1em ;
        width: 200px;
        height: 200px;
    }

    .card_tittle {
        margin: 0 auto .5em;
        font-size: 4rem;
    }

    .card_paragraph {
        margin: 0 auto 1em;
        width: 90%;
        padding: 1em 1em;
        font-size: 1.7rem;
        line-height: 1.5;
    }

    .card_cta {
        display: inline-block;
        margin-left: 2em;
        width: 40%;
        padding: 1em 2em;
        font-size: 1.5rem;
    }

    /* TITULOS Y SUBTITULOS DE SECCIONES */

    .section_title {
        max-width: 400px;
    }

    .section_subtitle {
        font-size: 2rem;
        font-weight: 400;
        padding: 0;
        margin-bottom: 1em;
        text-align: center;
    }

    
    /*header*/

    .header {   
        height: 120px;
        margin: 0 0 6em;
    }
    
    .nav {
        max-width: 1200px;
        height: 90%;
    }

    .nav_menu {
        display: none;
    }

    .nav_logo {
        width: 250px;
    }

    .nav_list {
        position: static;
        padding: 0;
        background-color: transparent;
        width: 60%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0);
        transition: unset;
    }

    .nav_link {
        color: black;
        font-size: 1.2rem;
        font-weight: 500;
    }

    
    /* about */
    .main_about {
        padding: 2em 0;
    }

    .container_about {
        margin-top: 2em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 90%;
        max-width: 1000px;
    }
    
    .about_img {
        width: 90%;
        max-width: 400px;
        flex: 1;
    }
    
    .about_paragraph {
        font-size: 1.5rem;
        line-height: 1.5;
        flex: 1;
    }

    /* attributes */
    .attribute {
        margin: 5em auto;
        padding: 2em 0;
    }

    .container_attributes {
        max-width: 1000px;
        display: flex;
        flex-direction: row;
        gap: 2em;
        margin-top: 2em;
    }

    .container_attribute {
        transition: .5s;
    }

    .container_central {
        gap: 5em;
    }

    .attribute_title {
        font-size: 2rem;
    }

    .attribute_list {
        height: 70%;
        opacity: 0;
        transition: .3s;
    }

    .attribute_list:hover {
        opacity: 100;
    }

    .experience:hover {
        background-color: var(--third-color);
    }

    .education:hover {
        background-color: var(--third-color);
    }

    .software:hover {
        background-color: var(--third-color);
    }

    .values:hover {
        background-color: var(--third-color);
    }



    /*proyects*/
    .main_proyect {
        margin: 2em auto;
        background-color: var(--third-color);
        padding: 2em;
        width: 100%;
    }

    /*magazine*/
    .slider { 
        background-color: transparent;
        padding: 0;
        margin-top: 2em;
    }

    .slider_container {
        height: auto;
        margin: 0 auto;
        width: 90%;
        max-width: 700px;
        position: static;
        display: block;
        overflow: hidden;
        scroll-snap-type: none;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }
    
    .slider_magazine {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 1em;
    }
    
    .slider_body {
        width: auto;
        height: 600px;
        position: static;
        scroll-snap-align: none;
        grid-column: 2/3;
        grid-row: 1/2;
        opacity: 0;
        pointer-events: none;
        transition: opacity 1s;
    } 

    
    .slider_body--show {
        opacity: 1;
        pointer-events: unset;
    }

    .magazine_page {
        
        aspect-ratio: 10/13;
        width: 95%;
        height: 100%;
        display: block;
        margin: 0 auto;
        border-radius: 12px;
    }

    .slider_arrow {
        display: inherit;
        cursor: pointer;
        width: 90%;
        max-width: 50px;
        justify-self: start;
        
    }

    .slider_arrow:hover {
        background-color: white;
        border-radius: 50%;
    }
    
    .slider_arrow:nth-of-type(1){
        justify-self: end;
    }

    /*Flayer*/
    .flayer {
        max-width: 1200px;
        margin: 3em auto 8em;
    }

    .flayer_container {
        padding: 1em;
        height: 70vh;
        max-height: 700px;    
    }

    .flayer_container::-webkit-scrollbar {
        width: 10px;
        
    }

    .flayer_container::-webkit-scrollbar-thumb {
        background-color: rgb(2, 47, 62);
        border-radius: 10px;
    }


    /*illustrations*/
    .illustration {
        max-width: 1200px;
        margin: 3em auto 8em;
    }
    
    .illustration_container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 0;
        height: auto;
        box-shadow: none;
    }
    
    .illustration_image {
        display: flex;
        width: 100%;
        box-shadow: 0px 0px 10px 0px black;
    }
    
    .illustration_img {
        width: 100%;
        object-fit: cover;
    }

    .illustration_image--1 {
        grid-column: 3/7;
        grid-row: 2/4;
        order: 1; 
    }

    .illustration_image--2 {
        grid-column: 7/9;
        max-width: 300px;
        grid-row: 1/4;
        order: 2;
    }

    .illustration_image--3 {
        grid-column: 1/3;
        grid-row: 2/5;
        max-width: 300px;
    }

    .section_subtitle--illustration {
        grid-column: 4/6;
    }

    /*Footer*/
    .footer {
        background-color: rgb(34, 129, 161);
        padding: 1em 0 0;
    }
    
    .footer_container {
        max-width: 1200px;
        display: flex;
    }
    
    .contact_container {
        width: auto;
        max-width: none;
        margin: 0 auto;
        flex: 25%;
    }
    
    .contact_title{
        font-size: 2rem;
        width: 100%;
        margin-bottom: .5em;
    }
    
    .network_container {
        justify-content: center;
        gap: 1em;
    }
    
    .network_img {
        width: 50px;
    }
    
    
    .logo_footer_image{
        width: 100%;
        max-width: 400px;
        flex: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logo_footer_img{
        width: 90%;
        object-fit: cover;
    }
    
    .nav_container--footer {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 25%;
    }

    .footer_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        list-style: none;
        gap: 1em;
    }

    .footer_item {
        padding: 0;
    }

    .footer_link {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }
    
    .rights {
        max-width: 1200px;
        padding: 1em 0 .5em;
    }

    .network_img:hover {
        opacity: 50%;
    }

    .footer_link:hover {
        opacity: 50%;
    }
} 




